@font-face {
    font-family: 'alegreya';
    src: url('/fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
        url('/fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-width: 1440px;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}


.hero {
    min-height: 650px;
}


.header {
    background: url('./img/bg/hero.jpg') center -370px / cover no-repeat;
    width: 100%;
    height: 180px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 27px;
    position: relative;
    overflow: hidden;
}

.header-guys__item {
    width: auto;
}

.header-guys__text {
    position: absolute;
    top: 45px;
    left: 28%;
}

.lined-text {
    font-family: "alegreya", Arial, sans-serif;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lined-text__word {
    background: #000;
    padding: 1px 7px;
}

.lined-text__word--color-yellow {
    color: var(--yellow);
}

.header-guys__text .lined-text__word:nth-child(2n) {
    margin-left: 8px;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail__title {
    margin-bottom: 3px;
}

.mail__content {
    background: #212121;
    color: var(--yellow);
    font-size: 16px;
    padding: 5px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product__list {
    position: relative;
    width: 1100px;
    height: 710px;
    display: flex;
    background: rgb(255, 201, 47);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-bottom: 90px;
}

.product__img {
    width: 570px;
    height: 100%;
    align-items: center;
    display: flex;
}


.product__item {
    width: 515px;
    height: 440px;
}

.product-information__list {
    background: #fcf5e6;
    width: 570px;
    height: 100%;
    padding-left: 20px;
}

.product__title {
    font: var(--titlesFont);
    font-weight: bold;
    color: var(--yellow);
    font-size: 15px;
    margin-top: 30px;
}

.product__name {
    font: var(--titlesFont);
    font-weight: bold;
    color: var(--black);
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
}

.product__price {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    margin-top: 17px;
    height: 50px;
    width: 120px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
}

.product__line {
    top: -25px;
    width: 100%;
    height: 0.5px;
    background: #e0d9c8;
    position: relative;
}

.about-product {
    margin-bottom: 60px;
}

.about-product li {
    margin-bottom: 20px;
    font-size: 12px;
}

.about-product li:last-child {
    margin-bottom: 0;
}

.size-filter {
    display: flex;
    margin-bottom: 30px;
}

.size-filter__item {
    width: 49px;
    height: 49px;
    background-color: rgba(33, 33, 33, 0);
    border: 2px solid #e0d9c8;
    margin-right: 8px;
}

.size-filter__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    text-decoration: none;
    font-size: 15px;
    color: #212121;
    font-weight: bold;
    font-family: "Roboto";
    text-transform: uppercase;
}

.size-filter__item:last-child {
    margin-right: 0;
}

.size-filter__item--activ {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

.size-filter__item--not .size-filter__link {
    color: #e0d9c8;
}

.color-filter {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.color-filter__item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 15px;
}

.color-filter__link {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-filter__item:last-child {
    margin-right: 0;
}

.color-filter__item--black {
    background-color: #2f2c25;
}

.color-filter__item--white {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgba(216, 39, 39, 0);
    border: 2px solid #e0d9c8;
}

.color-filter__item--green {
    background-color: #529029;
}

.color-filter__item--blue {
    background-color: #39498d;
}

.color-filter__item--red {
    background-color: #d82727;
}

.color-filter__item--activ {
    border: 5px solid var(--yellow);
}

.btn {
    position: relative;
    width: 209px;
    height: 51px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--titlesFont);
    font-size: 28px;
    background: var(--black);
    color: var(--yellow);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}

.tab-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.tab-filter__item {
    margin-right: 40px;
}

.tab-filter__item:last-child {
    margin: 0;
}

.tab-filter__link {
    font-family: var(--titlesFont);
    text-transform: uppercase;
    padding: 10px 21px;
    color: var(--black);
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.tab-filter__link:hover {
    color: var(--red);
}

.tab-filter__item--active .tab-filter__link {
    color: var(--yellow);
    background: var(--black);
}

.tabs {
    width: 1100px;
    background-color: #fcf5e6;
    border: 10px solid var(--yellow);
    margin-bottom: 80px;
}

.tabs__item--specification {
    height: 297px;
    display: flex;
    padding: 45px 30px;
}

.icons {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icons__icon {
    height: 30px;
    width: 30px;
}

.icons__text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 100px;
    width: 360px;
}

.tabs__item--specification__line {
    height: 100%;
    width: 0.5px;
    background: #e0d9c8;
    position: relative;
    left: -50px;
}

.specification__text {
    font-size: 18px;
    line-height: 27px;
}

.tabs__item--size {
    display: flex;
    height: 452px;
}

.size__pic {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-pic__item {
    height: 250px;
    width: 250px;
}

.size-pic__text {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #1b1b1b;
    font-family: "Roboto";
    position: relative;
    top: 5%;
}

.size-pic__text li {
    margin-bottom: 13px;
}

.table {
    height: 100%;
    width: 730px;
    border-spacing: 0;
}

table,
th,
td {
    border: 1px solid #e0d9c8;
}

.table th {
    text-align: center;
    background-color: rgba(246, 239, 224, 255);
}

.table td {
    text-align: center;
}

.tabs__item--delivery {
    display: flex;
    height: 259px;
}

.delivery__pic {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-logo__item {
    height: 170px;
    width: 185px;
}

.tabs__item--delivery__line {
    height: 100%;
    width: 0.5px;
    background: #e0d9c8;
    position: relative;
    left: 2%;
}

.delivery__text {
    padding-right: 55px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

.delivery__text li {
    margin-bottom: 13px;
}

.tabs__item--about {
    display: flex;
    height: 259px;
}

.harly__pic {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.harly-logo__item {
    height: 70px;
    width: 250px;
}

.tabs__item--about__line {
    height: 100%;
    width: 0.5px;
    background: #e0d9c8;
    position: relative;
    left: 3%;
}

.about__text {
    padding-right: 55px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer {
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container {
    width: 1105px;
}

.site-menu {
    margin-bottom: 115px;
    width: 100%;
}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0px;
}

.site-menu__title {
    font-family: var(--titlesFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: var(--red);
}

.site-menu__text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 30px;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.extras {
    display: flex;
    margin-bottom: 95px;
    width: 100%;
}

.extras__col {
    margin-right: 20px;
    flex: 1;
}

.extras__col:last-child {
    margin-right: 0px;
}

.extras__best {
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: var(--titlesFont);
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials {
    height: 100%;
    background: url('./img/bg/pattern.png') center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    fill: var(--red);
}

.socials__icon {
    width: 100%;
    height: 100%;
}